*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

    font-family: 'Roboto', sans-serif;
}
header{
    height: 50px;
}

.icon{
    background-color: grey;
    border-radius: 50%;
    color: white;
    padding: 5px 8px;
}
.bell{
    color: goldenrod
}
.back-grey{
    background-color: var(--bs-tertiary-bg);
}
/* ID SIDEBAR */
#sidebar{
    width: 120px;
    background-color: #051e34;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../img/sidebar-bg.png");
    overflow-y: auto
}
ul{
    padding: 0;
}
#content {
    width: calc(100vw - 120px);
    overflow-y: auto;
}
#top{
    height:calc(100vh - 50px);
    display: flex;
    width:100%;
    overflow-y: auto
}
.sfondo-blu{
    background-color: #1b72e8;
    
}
button{
    padding: 5px;
    background-color: none
}
.icon-table{
    color:grey;
    border: 1px solid grey;
    padding: 5px;
    margin-left: 5px;
   
}
.img-class{
    width: 20px;
}
.bg-dark-blu{
    background-color: darkblue;
}

.logo-mobile{
    width: 40px;
}
.logo{
   width:80px
}
.font-15{
    font-size:15px
}
.font-small{
    font-size: 10px
}
.fondosidebar{
    overflow-y: hidden;
    width: 100%;
}
.riga-lunga{
    width: 40%;
}

.offcanvas{
    width: 576px !important;
}
li:hover {
    background-color: rgba(255,255,255,0.4);
   
}
.text-bg-info{
    background-color: #165bba !important;
}

@media screen and (max-width: 575px){
    
    .order-prima{
        order: 0
    }
    .order-seconda{
        order:1
    }
    .order-ultima{
        order: 2
    }
    .text-center{
       text-align: center;
    }
    #sidebar{
        width: 70px;
    }
    #content {
        width: calc(100vw - 70px);
    }
  
}
@media screen and (min-width: 576px) and (max-width: 991px){
    

    #sidebar{
        width: 70px;
    }
    #content {
        width: calc(100vw - 70px);
    }
    .to-do{
        order: 1
    }
    .f-a-q{
        order: 0
    }
    .to-do-do{
        order: 2
    }
    .offcanvas{
        width: 991px !important;
    }
   
}

