*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* BODY */
body{
    font-family: 'Roboto', sans-serif;
}

/* HEADER */
header{
    height: 50px;
}

/* STILE ICON */
.icon{
    background-color: grey;
    border-radius: 50%;
    color: white;
    padding: 5px 8px;
}

/* STILE ICON NELLA TABELLA */
.icon-table{
    color:grey;
    border: 1px solid grey;
    padding: 5px;
    margin-left: 5px;  
}

/* COLORE CAMPANELLA */
.bell{
    color: goldenrod
}

.back-grey{
    background-color: var(--bs-tertiary-bg);
}

/* ID SIDEBAR */
#sidebar{
    width: 120px;
    background-color: #051e34;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../img/sidebar-bg.png");
    overflow-y: auto
}

.fondosidebar{
    overflow-y: hidden;
    width: 100%;
}

/* STILE UL */
ul{
    padding: 0;
}

/* SEZIONE CONTENT */
#content {
    width: calc(100vw - 120px);
    overflow-y: auto;
}

/* SEZIONE TOP */
#top{
    height:calc(100vh - 50px);
    display: flex;
    width:100%;
    overflow-y: auto
}

/* COLORE SFONDO */
.sfondo-blu{
    background-color: #1b72e8; 
}

.bg-dark-blu{
    background-color: darkblue;
}

/* BOTTONE */
button{
    padding: 5px;
    background-color: none
}

/* DIMENSIONE IMMAGINE  */
.img-class{
    width: 20px;
}

.logo-mobile{
    width: 40px;
}
.logo{
   width:80px
}

/* DIMENSIONE FONT */
.font-15{
    font-size:15px
}


/* DIMENSIONE PRIMA RIGA DELLA COLONNA */
.riga-lunga{
    width: 40%;
}

/* DIMENSIONE OFFCANVAS */
.offcanvas{
    width: 576px !important;
}

/* EFFETTO HOVER LISTA */
li:hover {
    background-color: rgba(255,255,255,0.4); 
}

/* COLORE BADGE */
.text-bg-info{
    background-color: #165bba !important;
}

.trash:hover{
    color:red;
}

.pencil:hover{
    color:blue
}

/* MEDIA QUERY MOBILE */
@media screen and (max-width: 575px){
    
    #sidebar{
        width: 70px;
    }
    #content {
        width: calc(100vw - 70px);
    }
}

/* MEDIA QUERY TABLET */
@media screen and (min-width: 576px) and (max-width: 991px){
    

    #sidebar{
        width: 70px;
    }
    #content {
        width: calc(100vw - 70px);
    }
    .offcanvas{
        width: 991px !important;
    } 
}

